table {
    margin: auto;
    color: white;
}
td, th {
    padding: 6px 12px;
}
tr{
    text-align: left;
    font-size: 18px;
}
tr:nth-child(odd){
    background-color: #333333;
}
tr:first-child{
    background-color: #111111;
}

